#include "winuser.h"
#include "winver.h"

1 ICON "Resources\\ThemeToggle.ico"
1 RT_MANIFEST "Resources\\ThemeToggle.manifest"

1 VERSIONINFO
FILEVERSION     1,5,2,0
PRODUCTVERSION  1,5,2,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG
#else
FILEFLAGS       0x0L
#endif
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  // English (US), Unicode CP
        BEGIN
            VALUE "CompanyName",      "SevIQ"
            VALUE "FileDescription",  "Windows Theme Toggler - Switch between Light and Dark mode"
            VALUE "FileVersion",      "1.5.2.0"
            VALUE "InternalName",     "ThemeToggle"
            VALUE "LegalCopyright",   "Copyright (C) 2025 SevIQ"
            VALUE "OriginalFilename", "ThemeToggle.exe"
            VALUE "ProductName",      "ThemeToggle"
            VALUE "ProductVersion",   "1.5.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  // English (US), Unicode
    END
END
